html	{
	font-family: bahnschrift;
	font-variation-settings: "wght" 200;
	color: white;
	background: #808080;
}

body	{
	margin: 0;
	display: inline;
	text-align: center;
}

div.wrap	{
	padding: 10px;
	display: inline;
	text-align: center;
	width: 100%;
	height: 500px;
	background: #202020;
}

div.wrap2	{
	padding: 10px;
	display: inline;
	text-align: center;
	width: 100%;
	background: #202020;
	min-width: 320px;
}



figure	{
	width: 90px;
	height: 125px;
	padding: 0 5px 0 5px;
	margin: 10 auto 0 auto;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	background: #404040;
}

figure:hover	{
	background: #505050;
}

figure img	{
	margin: 10px 0 0 0;
	width: 60px;
}

figcaption	{
	margin: 10px 0 0 0;
	font-size: 13;
}

table	{
	background: #989898;
}

.cust_th	{
	border-top: none;
	background: #;
}